
h1{
    text-align: center;
}

b{
    text-align: center;
}
h2{
    padding: 11px;
    border: 0.5px solid black;
}
marquee{
    color: rgb(17, 24, 63);
}

h3{
    color:rgb(19, 17, 20)
}

#cabeceralogo {
    width: 90%;
    height: 50px;
    padding: 0.0% 5%;
    background-color: aquamarine;
    }
    #cabeceralogo > div {
    width: 960px;
    margin: 1px auto;
    padding-top: 45px;
    }
    #cabeceralogo h1 {
    font: bold 45px italic, oblique,  monospace;
    color: #0c0b0b;
    }

    #cabeceraCategory {
        width: 90%;
        height: 50px;
        padding: 0.0% 5%;
        background-color: rgb(223, 107, 152);
        }
        #cabeceraCategory > div {
        width: 960px;
        margin: 1px auto;
        padding-top: 45px;
        }
        #cabeceraCategory h1 {
        font: bold 35px Arial,  monospace;
        color: #0c0b0b;
        }

#cabeceraCabana {
            width: 90%;
            height: 50px;
            padding: 0.0% 5%;
            background-color: rgb(81, 190, 59);
            }
            #cabeceraCabana > div {
            width: 960px;
            margin: 1px auto;
            padding-top: 45px;
            }
            #cabeceraCabana h1 {
            font: bold 35px Arial,  monospace;
            color: #1d1c1c;
            }


 #cabeceraClients {
                width: 90%;
                height: 50px;
                padding: 0.0% 5%;
                background-color: rgb(74, 111, 190);
                }
                #cabeceraClients > div {
                width: 960px;
                margin: 1px auto;
                padding-top: 45px;
                }
                #cabeceraClients h1 {
                font: bold 35px Arial,  monospace;
                color: #080808;
                }
    
#cabeceraMessages {
                    width: 90%;
                    height: 50px;
                    padding: 0.0% 5%;
                    background-color: rgb(60, 160, 138);
                    }
                    #cabeceraMessages > div {
                    width: 960px;
                    margin: 1px auto;
                    padding-top: 45px;
                    }
                    #cabeceraMessages h1 {
                    font: bold 35px Arial,  monospace;
                    color: #080808;
                    }
        
#cabeceraReservation {
                    width: 90%;
                    height: 50px;
                    padding: 0.0% 5%;
                    background-color: rgb(176, 177, 109);
                    }
                    #cabeceraReservation > div {
                    width: 960px;
                    margin: 1px auto;
                    padding-top: 45px;
                    }
                    #cabeceraReservation h1 {
                    font: bold 35px Arial,  monospace;
                    color: #080808;
                    }

#cabeceraAdminUser {
                        width: 90%;
                        height: 50px;
                        padding: 0.0% 5%;
                        background-color: rgb(139, 120, 165);
                        }
                        #cabeceraAdminUser > div {
                        width: 960px;
                        margin: 1px auto;
                        padding-top: 45px;
                        }
                        #cabeceraAdminUser h1 {
                        font: bold 35px Arial,  monospace;
                        color: #080808;
                        }                    
#cabeceraScore {
                            width: 90%;
                            height: 50px;
                            padding: 0.0% 5%;
                            background-color: rgb(113, 238, 196);
                            }
                            #cabeceraScore > div {
                            width: 960px;
                            margin: 1px auto;
                            padding-top: 45px;
                            }
                            #cabeceraScore h1 {
                            font: bold 35px Arial,  monospace;
                            color: #080808;
                            }

#menuprincipal {
width: 96%;
height: 50px;
padding: 0% 2%;
background-color: #1371dd;
border-top: 1px solid #600960;
border-bottom: 1px solid #5d0960;
}
#menuprincipal > div {
width: 960px;
margin: 0px auto;
}
#menuprincipal li {
    display: inline-block;
    height: 35px;
    padding: 15px 10px 0px 10px;
    margin-right: 5px;
    }
    #menuprincipal li:hover {
    background-color: #93baec;
    }
    #menuprincipal a {
    font: bold 18px Arial, sans-serif;
    color: #333333;
    text-decoration: none;
    }
    main {
        width: 96%;
        padding: 2%;
        background-image: url("fondo.png");
        }
        main > div {
        width: 960px;
        margin: 0px auto;
        }


        #articulosprincipales {
            float: left;
            width: 620px;
        padding-top: 30px;
        background-color: #FFFFFF;
        border-radius: 10px;
        }
        #infoadicional {
        float: right;
        width: 280px;
        padding: 20px;
        background-color: #E7F1F5;
        border-radius: 10px;
        }
        #infoadicional h1 {
        font: bold 18px Arial, sans-serif;
        color: #333333;
        margin-bottom: 15px;
        }
        .recuperar {
        clear: both;
        }
        article {
            position: relative;
            padding: 0px 40px 20px 40px;
            }
            article time {
            display: block;
            position: absolute;
            top: -5px;
            left: -70px;
            width: 80px;
            padding: 15px 5px;
            background-color: #094660;
            box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.7);
            border-radius: 5px;
            }
            .numerodia {
            font: bold 36px Verdana, sans-serif;
            color: #FFFFFF;
            text-align: center;
            }
            .nombredia {
            font: 12px Verdana, sans-serif;
            color: #FFFFFF;
            text-align: center;
            }
            article h1 {
                margin-bottom: 5px;
                font: bold 30px Georgia, sans-serif;
                }
                article p {
                font: 18px Georgia, sans-serif;
                }
                figure {
                margin: 10px 0px;
                }
                figure img {
                padding: 5px;
                border: 1px solid;
                }
                #pielogo {
                    width: 96%;
                    padding: 2%;
                    background-color: #0F76A0;
                    }
                    #pielogo > div {
                    width: 960px;
                    margin: 0px auto;
                    background-color: #9FC8D9;
                    border-radius: 10px;
                    }
                    .seccionpie {
                    float: left;
                    width: 270px;
                    padding: 25px;
                    }
                    .seccionpie h1 {
                        font: bold 20px Arial, sans-serif;
                        }
                        .seccionpie p {
                        margin-top: 5px;
                        }
                        .seccionpie a {
                        font: bold 16px Arial, sans-serif;
                        color: #666666;
                        text-decoration: none;
                        }
                        .seccionpie {
                            float: left;
                            width: 27.33%;
                            padding: 3%;
                            }